<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["LVST.UI.styles.css"]"/>
    <ImportMap/>
    <HeadOutlet @rendermode="PageRenderMode"/>
</head>

<body class="dark:bg-gray-900 dark:text-gray-100">
<Routes @rendermode="PageRenderMode"/>
<script src="_framework/blazor.web.js"></script>
<script src="js/index.bundle.js"></script>
</body>

</html>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;

}