@page "/Player"
@using LVST.Core
@inject StreamingService Streaming;
<h3>Player</h3>
<input type ="text" @bind="PlayerUrl" placeholder="Enter video URL" />
<button @onclick="() => PlayAsync()">Load Video</button>
<media-controller>
    <hls-video
        src="https://stream.mux.com/A3VXy02VoUinw01pwyomEO3bHnG4P32xzV7u1j1FSzjNg.m3u8"
        slot="media"
        crossorigin
        muted
        autoplay
    ></hls-video>
    <media-loading-indicator slot="centered-chrome" noautohide></media-loading-indicator>
    <media-control-bar>
        <media-play-button></media-play-button>
        <media-seek-backward-button></media-seek-backward-button>
        <media-seek-forward-button ></media-seek-forward-button>
        <media-mute-button></media-mute-button>
        <media-volume-range></media-volume-range>
        <media-time-range></media-time-range>
        <media-time-display showduration remaining></media-time-display>
        <media-playback-rate-button></media-playback-rate-button>
        <media-fullscreen-button></media-fullscreen-button>
    </media-control-bar>
</media-controller>

@code {
    [Parameter]
    public string? PlayerUrl { get; set; }

    private async Task PlayAsync()
    {
        
    }

}