@page "/Player"
@using LVST.Core
@inject StreamingService Streaming;
@inject TorrentService Torrent;
@inject NavigationManager Nav;
<h3>Player</h3>
@StreamUrl
<div>
<input type ="text" @bind="PlayerUrl" placeholder="Enter video URL" class="bg-gray-100 text-gray-900 w-1/2 p-1" />
<button @onclick=" async () => await PlayAsync()" class="btn">Load Video</button>
</div>
<media-controller class="aspect-ratio w-[1920px] h-[1080px]">
    <hls-video
        src="@StreamUrl"
        slot="media"
        crossorigin
        autoplay
    ></hls-video>
    <media-loading-indicator slot="centered-chrome" noautohide></media-loading-indicator>
    <media-control-bar>
        <media-play-button></media-play-button>
        <media-seek-backward-button></media-seek-backward-button>
        <media-seek-forward-button ></media-seek-forward-button>
        <media-mute-button></media-mute-button>
        <media-volume-range></media-volume-range>
        <media-time-range></media-time-range>
        <media-time-display showduration></media-time-display>
        <media-playback-rate-button></media-playback-rate-button>
        <media-fullscreen-button></media-fullscreen-button>
    </media-control-bar>
</media-controller>

@code {
    [Parameter] public string? PlayerUrl { get; set; } = "magnet:?xt=urn:btih:0411F5B9F074616DD4A0E3D3801FC55B252A0120&dn=S.W.A.T.2017.S08E18.720p.HDTV.x264-SYNCOPY&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&tr=udp%3A%2F%2Ftracker.bittor.pw%3A1337%2Fannounce&tr=udp%3A%2F%2Fpublic.popcorn-tracker.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.dler.org%3A6969%2Fannounce&tr=udp%3A%2F%2Fexodus.desync.com%3A6969&tr=udp%3A%2F%2Fopen.demonii.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tr=http%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Fopentracker.i2p.rocks%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969%2Fannounce&tr=udp%3A%2F%2Fcoppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.zer0day.to%3A1337%2Fannounce";
    private string? StreamUrl { get; set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Streaming.OnReady += async (s) =>
            {
                var ub = new UriBuilder(Nav.BaseUri);
                ub.Path = $"/streams/{ Path.GetFileName(Path.GetDirectoryName(s))}/{Path.GetFileName(s)}";
                StreamUrl = ub.ToString();
                await InvokeAsync(StateHasChanged);

            };
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task PlayAsync()
    {
        if (!string.IsNullOrEmpty(PlayerUrl))
        {
            var s = await Torrent.StartAsync(new Options()
            {
                Magnet = PlayerUrl,
            });
            
            Streaming.StreamAsync(s.Item1, s.Item2);
        }
    }

}